Python/TP6_Programacion2_GonzaloZuletaYarad.rar
Python/TP7_Programacion2_GonzaloZuletaYarad.rar
Python/TP9_Programacion2_GonzaloZuletaYarad.rar
Python/TP10_Programacion2_GonzaloZuletaYarad.rar
Python/Python.rar
Python/TP13_Programacion2_GonzaloZuletaYarad.rar
Python/TP14_Programacion2_GonzaloZuletaYarad.rar
Python/TP14/__pycache__/Mylibrary.cpython-310.pyc
Python/AlumnosISDeM.csv
Python/Promedio.TXT
